Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.

In [1]:
# def keyword used to create function.

In [3]:
def odd():
  l1 = []
  for i in range(1,25):
    if i %2 != 0:
      l1.append(i)
  return l1

In [4]:
odd()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs
to demonstrate their use.

**Answer:**

*args in python used to pass a varible number of arguments to function . used to pass a non-keyworded,variable length argument list.

**kwargs  in pythonis used to pass a keyworded , variable length argument list i.e., it gives in the form of key-value pair

In [12]:
def func1(*args, a = "python"):
  print("Hello ",a)
  for i in args:
    print("Python for ",i)

In [13]:
func1("DataScience","Machinelearning","WebDevlopment")

Hello  python
Python for  DataScience
Python for  Machinelearning
Python for  WebDevlopment

In [14]:
def fun2(**kwargs):
    return kwargs

In [15]:
fun2(a='Anuj',b='pwskills')

{'a': 'Anuj', 'b': 'pwskills'}

Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,
16, 18, 20].

Answer:

iterator - Any object in which we can fetch the all the next values of the data

The Python iterators object is initialized using the iter() method. It uses the next() method for iteration

In [20]:
l1 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
l2 = iter(l1)

In [22]:
next(l2)

2

In [23]:
next(l2)

4

In [24]:
next(l2)

6

In [25]:
next(l2)

8

In [26]:
next(l2)

10

Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator
function.

**Answer**

A generator function in Python is defined like a normal function, but whenever it needs to generate a value, it does so with the yield keyword rather than return.

Generator function can be used to optimize the memory consumption
the generator function gives the output one by one without holding thethe values in the memory.

the yield keyword will convert an expression that is specified along with it to a generator object and return it to the caller.

In [27]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [31]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

In [32]:
def prime(n):
    a=2
    for i in range(2,n):
        yield a

In [33]:
def is_prime_num(n):
    # Check if the number is prime
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

def prime_numbers(start, end):
    # Generate prime numbers between start and end
    for num in range(start, end + 1):
        if is_prime_num(num):
            yield num

In [34]:
for i in prime_numbers(2,1000):
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [35]:
pm = prime_numbers(2,1000)

In [36]:
# First 20 prime numbers:
for i in range(2,20):
    print(next(pm))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [37]:
def test_fib():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b

In [38]:
fib = test_fib()

In [39]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’. Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [40]:
# Using list comprehension to iterate through loop
List = [character for character in 'pwskills']

# Displaying list
print(List)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8. Write a python program to check whether a given number is Palindrome or not using a while loop.

In [41]:
number = 121
temp = number
reverse = 0

while(number>0):
    dig = number%10
    reverse = reverse*10+dig
    number = number//10
if temp==reverse:
    print("Number is a palindrome")
else:
    print("Number is not a palindrome.")

Number is a palindrome

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

In [42]:
List = [character for character in range(1,100)]

# Displaying list
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [43]:
list(filter(lambda x: x%2!=0 ,List))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]