Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [4]:
sort_list = sorted(l, key = lambda x:x[1]) # Sorting the list using integer value using lamda function:

In [6]:
for i in sort_list:
  print(i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
sqr_l1 = list(map(lambda x : x**2,l1)) # map function with one-liner lambda function
print(sqr_l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [13]:
s1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
output = tuple(map(lambda x : str(x),s1)) # Creating a lambda function,Mapping the lambda function with the iterable list

In [18]:
print(output)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [20]:
from functools import reduce

In [25]:
num = list(range(1,26))
print("1 to 25 = " ,num)
product = reduce(lambda x,y : x*y,num) #Using reduce function to get the product of the list

print("product : ",product)

1 to 25 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
product :  15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [30]:
list1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

ftr = list(filter(lambda x : x%2==0 and x%3==0 ,list1))

print("Number divisible by 2 and 3 :",ftr)

Number divisible by 2 and 3 : [6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

['python', 'php', 'aba', 'radar', 'level']

In [31]:
# Given list of strings
list2 = ['python', 'php', 'aba', 'radar', 'level']

In [39]:
plnd = list(filter(lambda x : x==x[::-1],list2)) # Using filter function for finding out the palindromes
#display
print("Palindromes : ",plnd)

Palindromes :  ['php', 'aba', 'radar', 'level']